
  .card-header {
    background-color: #eee;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .active, .card-header:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: block;
    background-color: white;
    overflow: hidden;
  }
  li{
    span{
     display: block;
    }
  }