<div class="container">

	<!-- #region entrada de usuario  -->
	<div class="row justify-content-center">
		<div class="col-6">
			<form [formGroup]="formInicial">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label>Tratamentos</label>
							<input class="form-control" formControlName="quantidadeTratamento">
							<small class="form-text text-muted">Separe as repstições usando espaço.</small>
						</div>
					</div>
					<div class="col-4">
						<label>Tipo</label>
						<select formControlName="tipoAnova" class="form-control">
							<option>Experimentos</option>
							<option>Blocos</option>
						</select>
					</div>
					<div class="col-2">
						<label>Alfa</label>
						<select formControlName="alfa" class="form-control">
							<option value="5">5%</option>
							<option value="10">10%</option>
							<option value="2.5">2,5%</option>
							<option value="1.0">1,0%</option>
							<option value="0.5">0,5%</option>
							
						</select>
					</div>
				</div>
			</form>
		</div>
		<!-- #endregion -->
		<div class="col-12 text-center">
			<button type="button" class="btn btn-primary mr-1" (click)="adicionarTratamentos()">Adiconar</button>
			<button [disabled]="!podeCalcular" (click)="calcular()" type="button"
				class="btn btn-danger">calcular</button>
		</div>

	</div>

	<div class="row">
		<!-- tabela de tratamentos -->
		<div class="col-12">
			<ng-container *ngIf="tratamentos.length > 0">
				<h4>Tratamentos</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th *ngFor="let tratamento of tratamentos; let i = index" scope="col">T {{i}}</th>
						</tr>
					</thead>
					<tbody>
						<td *ngFor="let tratamento of tratamentos; let i = index">
							<tr *ngFor="let repeticao of tratamento; let i = index">
								{{repeticao}}
							</tr>
							<tr class="text-center">
								<button (click)="editarTratamento(i)">Editar</button>
								<button (click)="apagarTratamento(i)">Apagar</button>
							</tr>
						</td>
					</tbody>
				</table>
				<button (click)="reiniciar('tabela')">
					Reiniciar
				</button>
			</ng-container>

		</div>

		<!-- inici etapa 2 medias e variaça -->
		<div class="col-lg-6 col-md-12">
			<ng-container *ngIf="tabelaAnova">
				<h4>Medias</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th *ngFor="let tratamento of tratamentos; let i = index" scope="col">T {{i}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Media</th>
							<td *ngFor="let media of medias; let i = index">{{media | number}}</td>
						</tr>
						<tr>
							<th scope="row">Varianca</th>
							<td *ngFor="let varianca of variancas; let i = index">{{varianca | number}}</td>
						</tr>
					</tbody>
				</table>
			</ng-container>
		</div>
		<!-- fim da segunda etapa -->

		<!-- inicio da terceira etapa tabela anova -->
		<div class="col-lg-6 col-md-12">
			<ng-container *ngIf="tabelaAnova">
				<h4>Resumo anova</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Causa de Variação</th>
							<th scope="col">GL</th>
							<th scope="col">SQ</th>
							<th scope="col">MQ</th>
							<th scope="col">F</th>
						</tr>
					</thead>
					<tbody>
						<ng-container>
							<tr *ngIf="tabelaAnovaY">
								<th scope="row">Blocos</th>
								<td>{{tabelaAnovaY.entreTratamento.grauDeLiberdade | number}}</td>
								<td>{{tabelaAnovaY.entreTratamento.somaDosQuadrados | number}}</td>
								<td>{{tabelaAnovaY.entreTratamento.quadradoDaMedia | number}}</td>
								<td>{{tabelaAnovaY.entreTratamento.F | number}}</td>
							</tr>
							<tr>
								<th *ngIf="tabelaAnovaY" scope="row">Tratamentos</th>
								<th *ngIf="!tabelaAnovaY" scope="row">Entre os Tratamentos</th>
								<td>{{tabelaAnova.entreTratamento.grauDeLiberdade | number}}</td>
								<td>{{tabelaAnova.entreTratamento.somaDosQuadrados | number}}</td>
								<td>{{tabelaAnova.entreTratamento.quadradoDaMedia | number}}</td>
								<td>{{tabelaAnova.entreTratamento.F | number}}</td>

							</tr>
							<tr>
								<th *ngIf="tabelaAnovaY" scope="row">Residuos</th>
								<th *ngIf="!tabelaAnovaY" scope="row">Dentro dos Tratamentos</th>
								<td>{{tabelaAnova.dentroTratamento.grauDeLiberdade | number}}</td>
								<td>{{tabelaAnova.dentroTratamento.somaDosQuadrados | number}}</td>
								<td>{{tabelaAnova.dentroTratamento.quadradoDaMedia | number}}</td>
							</tr>
							<tr>
								<th scope="row">total</th>
								<td>{{tabelaAnova.total.grauDeLiberdade | number}}</td>
								<td>{{tabelaAnova.total.somaDosQuadrados | number}}</td>
							</tr>
						</ng-container>



					</tbody>
				</table>
				<button (click)="alerta()">
					Reiniciar
				</button>
			</ng-container>

		</div>
	</div>
</div>
<!-- fim da terceira etapa tabela anova -->